[access "refs/heads/*"]
	abandon = group LG G2, LG G3 and Apex
	push = group LG G2, LG G3 and Apex
	label-Code-Review = -2..+2 group LG G2, LG G3 and Apex
	labelAs-Code-Review = -2..+2 group LG G2, LG G3 and Apex
	submit = group LG G2, LG G3 and Apex
	submitAs = group LG G2, LG G3 and Apex
	publishDrafts = group LG G2, LG G3 and Apex
